#--------------------------------------------------------------------
[gcode_macro PRINT_START] #开始打印宏
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    BED_MESH_CLEAR                 # Unloading net beds
    G28                              # Homing all axes
    QUAD_GANTRY_LEVEL              # Gantry levelling
    BED_MESH_PROFILE LOAD=default  # Loading the net bed
    M109 S{ printer.extruder.target }       ##Restore print head temperature
    G90
    G92 E0                           # Reset Extruder
    G1 Z2.0 F3000                    # Move Z Axis up
    G1 X10.1 Y20 Z0.28 F5000.0       # Move to start position
    G1 X10.1 Y200.0 Z0.28 F1500.0 E17 # Draw the first line
    G1 X10.4 Y200.0 Z0.28 F5000.0    # Move to side a little
    G1 X10.4 Y20 Z0.28 F1500.0 E32   # Draw the second line
    G92 E0                           # Reset Extruder
    G90